<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Mainpage</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="container">
			<h2>Task Table</h2>
			<table class="table">
				<thead class="thead-inverse">
					<tr>
						<th>ID</th>
						<th>Title</th>
						<th>Description</th>
						<th>Image</th>
						<th>Created Time</th>
						<th>Updated Time</th>
						<th>Edit</th>
					</tr>
				</thead>
				<tbody>
					<% data.forEach(function (e,i){ %>
					<tr>
						<td><%= e.id %></td>
						<td><%= e.title %></td>
						<td><%= e.description %></td>
						<td><img src="./<%= e.image.data %>" alt="" style="width:150px"></td>
						<td><%= e.created_at %></td>
						<td><%= e.updated_at %></td>
						<td>
							<a href="/edit/<%= e.id %>">EDIT</a> /
							<a href="/remove/<%= e.id %>">REMOVE</a>
						</td>
					</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
	</body>
</html>
